[defaults]
inventory = ./inventory.ini
# Под каким пользователем подключаться к хостам
remote_user = user01
# Где брать приватный ключ для подключения к хостам
private_key_file = ~/.ssh/id_rsa
# Выключение проверки SSH Host-keys
host_key_checking = False
# Выключение использования \*.retry-файлов
retry_files_enabled = False
# Файл с паролем от vault
vault_password_file = ~/Work/keys/.vault.txt
